

# [App]
SECRET_KEY=YOUR_Secret
DEBUG=True
FRONTEDN_AUTH_TOKEN=Your_frontend_token
SUB_PATH=sub_path_that_the_servcie_hosted_under
GITHUB_TS_USER_API_TOKEN=
GITLAB_TS_USER_API_TOKEN=
CONTACT_REQUEST_RECEIVER_REPO=
GITLAB_API_BASE_URL=https://git.tib.eu/api/v4/projects/

# [ONTOLOGY_SUGGESTION]
ONTOLOGY_SUGGESTION_REPO=
ONTOLOGY_SHAPE_TEST_URL=https://github.com/TIBHannover/terminology-metadata/raw/refs/heads/6-update-version-2024-05-02/OntoMetadataShape4TS.ttl
NFDI4CHEM_GITLAB_ADMIN_IDS=


# [Database]
DB_USER=ts
DB_PASSWORD=1234
DB_NAME=ts_db
DB_HOST=db
DB_PORT=5432

# [EMAIL]
SYSTEM_EMAIL=
EMAIL_SERVER_HOST=localhost
EMAIL_SERVER_PORT=25

# [CELERY]
CELERY_BROKER_URL="redis://redis:6379/0"
CELERY_RESULT_BACKEND="redis://redis:6379/0"



# [Auth GitHub]
DEFAULT_FRONTEND_REDIRECT_URL=
DEFAULT_GITHUB_CLIENT_ID=
DEFAULT_GITHUB_CLIENT_SECRET=
GENERAL_FRONTEND_REDIRECT_URL=
GENERAL_GITHUB_CLIENT_ID=
GENERAL_GITHUB_CLIENT_SECRET=
NFDI4CHEM_FRONTEND_REDIRECT_URL=
NFDI4CHEM_GITHUB_CLIENT_ID=
NFDI4CHEM_GITHUB_CLIENT_SECRET=
NFDI4ING_FRONTEND_REDIRECT_URL=
NFDI4ING_GITHUB_CLIENT_ID=
NFDI4ING_GITHUB_CLIENT_SECRET=
GITHUB_TOKEN_URL=https://github.com/login/oauth/access_token
GITHUB_USER_URL=https://api.github.com/user
GITHUB_REPOS_URL=https://api.github.com/repos/

# [Auth ORCID]
ORCID_CLIENT_ID=
ORCID_CLIENT_SECRET=
ORCID_TOKEN_URL=https://sandbox.orcid.org/oauth/token
ORCID_READ_RECORD_BASE_URL=https://pub.sandbox.orcid.org/v3.0

# [Auth Gitlab]
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
GITLAB_TOKEN_URL=https://git.tib.eu/oauth/token
GITLAB_USER_URL=https://git.tib.eu/api/v4/user

# [Auth AAI]
AAI_CLIENT_SECRET=
AAI_CLIENT_ID=
AAI_TOKEN_URL=
AAI_USER_URL=

# [OLS]
OLS_API_BASE_URL=https://service.tib.eu/ts4tib/api/ontologies/

# [NOTES]
MAX_PIN_NOTES=3

# [Client-Address]
TIB_GENERAL_FRONTEND_ADDRESS=
NFDI4CHEM_FRONTEND_ADDRESS=
NFDI4ING_FRONTEND_ADDRESS=

# [Admin]
BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=


# [Test]
GITHUB_TEST_ACCESS_TOKEN=
ORCID_TEST_ACCESS_TOKEN=
ORCID_LOGIN_USERNAME=
GITHUB_LOGIN_USERNAME=
GITHUB_USER_TS_TOKEN=
ORCID_USER_TS_TOKEN=
GITHUB_LOGIN_CODE=
ORCID_LOGIN_CODE=
